* { margin: 0; padding: 0 }
html, body { height: 100% }
body { display: flex; justify-content: center; align-items: center; }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3em;
}
.number { font-size: 5em; padding-bottom: 0.1em; }
.time { color: #777; padding-bottom: 2em }
button {
  background: white;
  border: 1px solid #a6a6a6;
  font-size: 2em;
  padding: 0.3em 0.5em;
  margin: 0.3em;
  color: #FF5722;
  border-radius: 11px;
  outline: none;
}
.history {
  overflow-y: scroll;
  font-size: 2em;
  color: #555;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  height: 9em;
  min-width: 5em;
  align-items: center;
}

.history > div {
  padding-bottom: 0.3em;
  display: block;
  position: relative;
  margin: 0.4em;
  color: #636363;
}

.history > div::after {
  content: attr(data-time);
  font-size: 0.4em;
  left: 2.5em;
  /* bottom: 50%; */
  position: absolute;
  color: gray;
  /* top: -30%; */
  color: #636363;
  padding-top: 1rem;
}

.modal-mask {
    position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      display: flex;
      transition: opacity .3s ease;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

.modal-wrapper {
  /* display: table-cell;
  vertical-align: middle; */
  display: block;
}

.modal-container {
  min-width: 50%;
  max-width: 80%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  /* float: right; */
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

span {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

[v-cloak] { display: none; }


@media (max-height: 700px) {
        .history {
            height: 5em;
        }
